APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

SEND_EMAIL=false
MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

CAS_HOSTNAME=signin.localhost
CAS_URI=casURL
CAS_SAML=true
CAS_PRETEND_USER=russfeld

//uses a PHP Date Interval to specify how far in advance meetings must be scheduled
IN_ADVANCE=P1D