@import "bootstrap-variables-override";
@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap/theme";
@import "bootstrap-custom-items";
@import "../bower/fontawesome/scss/font-awesome";
@import "flowchart.scss";

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  padding-top: 50px;
  margin-bottom: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
  p{
  	line-height: 40px;
  }
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin button {
	margin-top: 10px;
}

.kstate8 {
  margin-bottom: 2px;
}

.advisor-img{
  max-height: 150px;
  width: 100px;
  margin: 10px;
}

.bg-light-purple{
  background: #EEEAF3;
  margin-bottom: 10px;
  margin-top: 10px;
}

.rounded{
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

.rounded-left{
  -webkit-border-top-left-radius: 15px;
     -moz-border-top-left-radius: 15px;
          border-top-left-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
     -moz-border-bottom-left-radius: 15px;
          border-bottom-left-radius: 15px;
}

.rounded-right{
  -webkit-border-top-right-radius: 15px;
     -moz-border-top-right-radius: 15px;
          border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
     -moz-border-bottom-right-radius: 15px;
          border-bottom-right-radius: 15px;
}

.top-header{
  margin-top: 10px !important;
}

.panel-title > a:before {
    font-family: FontAwesome;
    content: "\f147";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    content: "\f196";
}

//override fullcalendar styles
.fc{
  font-size: 140% !important;
}

.fc-bgevent {
  opacity: .6 !important;
  filter: alpha(opacity=50) !important; /* for IE */
}

.fc-green{
  background: #14CC43 !important;
  cursor: pointer;
}

.fc-clickable{
  cursor: pointer;
}

/*
// not sure what to put here
.fc-new-meeting .fc-title:after{
  content: " \25CE";
}
*/

.fc-attend-meeting .fc-title:after{
  content: " \2714";
}

.fc-absent-meeting .fc-title:after{
  content: " \2718";
}

.datepicker-disabled{
  cursor: not-allowed !important;
}

#message {
  position: fixed;
  top: 55px;
  width: auto;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

.hide-spin{
  display: none;
}

.div-danger{
  color: #FFFFFF;
  background: #d9534f;
  padding: 10px;
  margin-top: 10px;
}

#resolveConflictMeetings{
  padding-top: 20px;
}

.meeting-conflict .btn{
  margin-top: -7px;
  margin-left: 3px;
}

.img-help{
  border: 2px dashed #512888;
  margin: 5px;
  margin-left: 25px;
}

.help-line{
  border: 1px solid #512888;
  height: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.groupsession-div{
  margin-bottom: 5px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.groupsession-button{
  height: 30px !important;
  margin-top: -5px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  margin-left: 1px !important;
  margin-right: 1px !important;
}

//http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.groupsession-me {
  border: 2px solid;
}

.newbutton {
  float: left;
}

.panel-primary .panel-heading a{
  color: #FF9C19;
}
